@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Indie Flower', cursive;}

:root {
  --border: 5px solid rgba(255, 255, 255, 0.596);
  --symbol-color: rgba(255, 255, 255, 0.596);
}

.spaces {
  color: var(--symbol-color);
  height: 150px;
  width: 150px;
  font-size: 100px;
}

.spaces p {
  margin: 8px;
}

.spaces:nth-child(-n + 3) {
  border-bottom: var(--border);
}

.spaces:nth-child(3n + 1) {
  border-right: var(--border);
}

.spaces:nth-child(3n) {
  border-left: var(--border);
}

.spaces:nth-child(n + 7) {
  border-top: var(--border);
}

.grid {
  border-radius: 5px;
  padding: 30px;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  background: rgba(40, 40, 40, 1) -webkit-radial-gradient(center, rgba(40, 80, 60, 1), rgba(0, 20, 20, 0.6));
}

.board {
  width: 560px;
  margin: 80px auto;
  border: 1px solid rgba(240, 180, 135, 1);
  background-color: rgba(240, 180, 135, 1);
  border-radius: 5px;
  box-shadow: inset -1px 1px 7px rgba(0, 0, 0, 0.2),
    inset 1px -1px 7px rgba(0, 0, 0, 0.2), 1px 12px 5px rgba(0, 0, 0, 0.4),
    4px 3px 8px rgba(0, 0, 0, 0.4), 5px 10px 10px rgba(0, 0, 0, 0.2),
    -5px 10px 10px rgba(0, 0, 0, 0.4);
}

.board-header {
  font-size: 36px;
}

.reset-btn-div {
  margin-bottom: 28px;
}

.reset-btn {
  border-radius: 5px;
  border: grey;
  padding: 6px 20px;
  font-family: 'Indie Flower', cursive;
  font-size: 30px
}

.reset-btn:hover {
  background: red;
  color: white;
}